<template>
    <div class="header">
       <NuxtLink to="/">Page d'accueil</NuxtLink>   
       <NuxtLink to="/doryWorld">Le monde de Dory</NuxtLink>   
    </div>
</template>

<style scoped>
.header{
    width: 100%;
    background: aliceblue;
    box-shadow: 4px 4px 15px gray;
    font: 500;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
</style>
