<template>
  <div class="homeDory">
    <main>
      <h1> {{ pagetwoData.title[0].text }} </h1>
      <img :src="pagetwoData.imgCentre.url" alt="" />
      <p> {{ pagetwoData.article}} </p>
    </main>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  async asyncData ({ $prismic, params, error }) {
    const pagetwo = await $prismic.api.getSingle('pageTwo')
    const pagetwoData = pagetwo.data


    return {
      pagetwoData
    }
  }
};
</script>

<style scoped>
.homeDory{
  height: 45vw;
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main img{
  width: 500px;
  object-fit: cover;
}
</style>
