<template>
  <div class="home">
    <main>
      <h1> {{ homepageData.title[0].text }} </h1>
      <img :src="homepageData.banner.url" alt="">
      <!-- <img src="@/assets/img/Le-monde-de-Nemo.jpg" alt="" /> -->
    </main>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  async asyncData ({ $prismic, params, error }) {
    const homepage = await $prismic.api.getSingle('homePage')
    const homepageData = homepage.data


    return {
      homepageData
    }
  }
};
</script>

<style scoped>
.home{
  height: 45vw;
}
main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main img{
  width: 500px;
  object-fit: cover;
}
</style>